<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- slider sick -->
    <link rel="stylesheet" href="owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/assets/owl.theme.default.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>
    <!-- end slider sick -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="font/awesome/css/all.css">
    <!-- price picker slider -->
    <link rel="stylesheet" type="text/css" href="css/nouislider.css">
    <link href="css/style2.css" rel="stylesheet">
    <link href="css/style3.css" rel="stylesheet">

    <title>Categories</title>
</head>

<body>
    <header>
        <div class="index-container">
            <!-- start top -->
            <div class="container">
                <div class="index-top">
                    <div class="top">
                        <i class="fas fa-check"></i>
                        <p>Giá cả nhiều ưu đãi hấp dẫn khi mua hàng</p>
                    </div>
                    <div class="top top-middle">
                        <i class="fas fa-plane"></i>
                        <p>Giao hàng miễn phí toàn quốc và nhanh chóng</p>
                    </div>
                    <div class="top">
                        <i class="fas fa-star"></i>
                        <p>Sản phẩm đa dạng đạt tiêu chuẩn có kiểm định</p>
                    </div>
                </div>
            </div>
            <!-- end top -->
            <!-- start header -->
            <header class="container-fluid">
                <div class="container">
                    <div class="index-header">
                        <div class="logo">
                            <a href="#">
                                <img src="images/icon/logo.png" alt="">
                            </a>
                        </div>
                        <div class="flex">
                            <div class="header-middle">
                                <form action="">
                                    <i class="fas fa-search"></i>
                                    <input type="text" placeholder="Tìm kiếm ở đây" required>
                                    <button>Tìm kiếm</button>
                                </form>
                                <div class="link">
                                    <a href="#">Bán chạy nhất</a> |
                                    <a href="#">Mua nhiều nhất</a> |
                                    <a href="#">Giảm giá</a>
                                </div>
                            </div>
                            <div class="header-final">
                                <div class="detail detail-none">
                                    <i class="fas fa-heart"></i>
                                    <a href="yeu-thich.html">Danh sách yêu thích</a>
                                </div>
                                <div class="detail detail-none">
                                    <i class="fas fa-user"></i>
                                    <div>
                                        <a href="#">Đăng nhập</a> <br>
                                        <a href="#">Đăng ký</a>
                                    </div>
                                </div>
                                <div class="detail btn">
                                    <i class="fas fa-shopping-bag"></i>
                                    <a href="#">GIỎ HÀNG(0)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- end header -->
        </div>
    </header>
    <!-- start menu -->
    <section>
        <div id="background">
            <div class="container">
                <div class="row d-flex">
                    <div id="dm"><samp><i class="fas fa-bars"></i> DANH MỤC</samp><i class="fas fa-user"></i></div>
                    <div id="menu_phu">
                        <a href="home.html"> Trang chủ </a>
                        <i class="fas fa-caret-right"> </i>
                        <span>Rau củ</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end menu -->
    <!-- product category -->
    <section id="aa-product-category">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
                    <h3 class="title_pro">Rau củ</h3>
                    <div class="aa-product-catg-content">

                        <div class="aa-product-catg-body">
                            <ul class="aa-product-catg">
                                <!-- start single product item -->
                                <li class="product_border lipro" style="background-color: #fff;">
                                    <figure class="product-box-h">
                                        <a class="aa-product-img" href="#"><img src="images/main-image/chuoi.jpg"
                                                alt="polo shirt img"></a>

                                        <div class="pro-action2">
                                            <form action="" method="post" style="width: 80%; margin: 0 auto;">
                                                <input type="hidden" name="" value="">
                                                <button class="btn btn-cart">Thêm vào giỏ hàng</button>
                                            </form>
                                        </div>
                                        <div class="product-info a-left" style="margin: 85px 0 5px 0;">
                                            <h3 class="product-name"><a class="height_name text2line" href="#"
                                                    title="Chuối Nam Mỹ">Chuối Nam Mỹ</a></h3>

                                            <div class="product-hides">
                                                <div class="product-hide">


                                                    <div class="price-box clearfix">
                                                        <div class="special-price">
                                                            <span class="price product-price">120.000₫/kg</span>
                                                        </div>

                                                        <div class="old-price">
                                                            <span class="price product-price-old">
                                                                150.000₫/kg
                                                            </span>
                                                        </div>


                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="aa-product-hvr-content">
                                        <a href="#" data-toggle="modal" data-target="#myModal"><span class="fa fa-eye"
                                                style="color: var(--yellow-main-color);"></span></a>

                                    </div>
                                    <!-- product badge -->
                                    <span class="aa-badge aa-sale" href="#"><i class="far fa-heart"style="color: var(--background-main-color);" ></i></span>
                                </li>
                                <!-- start single product item -->
                                <li class="product_border lipro" style="background-color: #fff;">
                                    <figure class="product-box-h">
                                        <a class="aa-product-img" href="#"><img src="images/main-image/chuoi.jpg"
                                                alt="polo shirt img"></a>

                                        <div class="pro-action2">
                                            <form action="" method="post" style="width: 80%; margin: 0 auto;">
                                                <input type="hidden" name="" value="">
                                                <button class="btn btn-cart">Thêm vào giỏ hàng</button>
                                            </form>
                                        </div>
                                        <div class="product-info a-left" style="margin: 85px 0 5px 0;">
                                            <h3 class="product-name"><a class="height_name text2line" href="#"
                                                    title="Chuối Nam Mỹ">Chuối Nam Mỹ</a></h3>

                                            <div class="product-hides">
                                                <div class="product-hide">


                                                    <div class="price-box clearfix">
                                                        <div class="special-price">
                                                            <span class="price product-price">120.000₫/kg</span>
                                                        </div>

                                                        <div class="old-price">
                                                            <span class="price product-price-old">
                                                                150.000₫/kg
                                                            </span>
                                                        </div>


                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="aa-product-hvr-content">
                                        <a href="#" data-toggle="modal" data-target="#myModal"><span class="fa fa-eye"
                                                style="color: var(--yellow-main-color);"></span></a>

                                    </div>
                                    <!-- product badge -->
                                    <span class="aa-badge aa-sale" href="#"><i class="far fa-heart" style="color: var(--background-main-color);"></i></span>
                                </li>
                                <!-- start single product item -->
                                <li class="product_border lipro" style="background-color: #fff;">
                                    <figure class="product-box-h">
                                        <a class="aa-product-img" href="#"><img src="images/main-image/chuoi.jpg"
                                                alt="polo shirt img"></a>

                                        <div class="pro-action2">
                                            <form action="" method="post" style="width: 80%; margin: 0 auto;">
                                                <input type="hidden" name="" value="">
                                                <button class="btn btn-cart">Thêm vào giỏ hàng</button>
                                            </form>
                                        </div>
                                        <div class="product-info a-left" style="margin: 85px 0 5px 0;">
                                            <h3 class="product-name"><a class="height_name text2line" href="#"
                                                    title="Chuối Nam Mỹ">Chuối Nam Mỹ</a></h3>

                                            <div class="product-hides">
                                                <div class="product-hide">


                                                    <div class="price-box clearfix">
                                                        <div class="special-price">
                                                            <span class="price product-price">120.000₫/kg</span>
                                                        </div>

                                                        <div class="old-price">
                                                            <span class="price product-price-old">
                                                                150.000₫/kg
                                                            </span>
                                                        </div>


                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="aa-product-hvr-content">
                                        <a href="#" data-toggle="modal" data-target="#myModal"><span class="fa fa-eye"
                                                style="color: var(--yellow-main-color);"></span></a>

                                    </div>
                                    <!-- product badge -->
                                    <span class="aa-badge aa-sale" href="#"><i class="far fa-heart" style="color: var(--background-main-color);"></i></span>
                                </li>
                                  <!-- start single product item -->
                                  <li class="product_border lipro" style="background-color: #fff;">
                                    <figure class="product-box-h">
                                        <a class="aa-product-img" href="#"><img src="images/main-image/chuoi.jpg"
                                                alt="polo shirt img"></a>

                                        <div class="pro-action2">
                                            <form action="" method="post" style="width: 80%; margin: 0 auto;">
                                                <input type="hidden" name="" value="">
                                                <button class="btn btn-cart">Thêm vào giỏ hàng</button>
                                            </form>
                                        </div>
                                        <div class="product-info a-left" style="margin: 85px 0 5px 0;">
                                            <h3 class="product-name"><a class="height_name text2line" href="#"
                                                    title="Chuối Nam Mỹ">Chuối Nam Mỹ</a></h3>

                                            <div class="product-hides">
                                                <div class="product-hide">


                                                    <div class="price-box clearfix">
                                                        <div class="special-price">
                                                            <span class="price product-price">120.000₫/kg</span>
                                                        </div>

                                                        <div class="old-price">
                                                            <span class="price product-price-old">
                                                                150.000₫/kg
                                                            </span>
                                                        </div>


                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="aa-product-hvr-content">
                                        <a href="#" data-toggle="modal" data-target="#myModal"><span class="fa fa-eye"
                                                style="color: var(--yellow-main-color);"></span></a>

                                    </div>
                                    <!-- product badge -->
                                    <span class="aa-badge aa-sale" href="#"><i class="far fa-heart"style="color: var(--background-main-color);" ></i></span>
                                </li>
                                <!-- start single product item -->
                                <li class="product_border lipro" style="background-color: #fff;">
                                    <figure class="product-box-h">
                                        <a class="aa-product-img" href="#"><img src="images/main-image/chuoi.jpg"
                                                alt="polo shirt img"></a>

                                        <div class="pro-action2">
                                            <form action="" method="post" style="width: 80%; margin: 0 auto;">
                                                <input type="hidden" name="" value="">
                                                <button class="btn btn-cart">Thêm vào giỏ hàng</button>
                                            </form>
                                        </div>
                                        <div class="product-info a-left" style="margin: 85px 0 5px 0;">
                                            <h3 class="product-name"><a class="height_name text2line" href="#"
                                                    title="Chuối Nam Mỹ">Chuối Nam Mỹ</a></h3>

                                            <div class="product-hides">
                                                <div class="product-hide">


                                                    <div class="price-box clearfix">
                                                        <div class="special-price">
                                                            <span class="price product-price">120.000₫/kg</span>
                                                        </div>

                                                        <div class="old-price">
                                                            <span class="price product-price-old">
                                                                150.000₫/kg
                                                            </span>
                                                        </div>


                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="aa-product-hvr-content">
                                        <a href="#" data-toggle="modal" data-target="#myModal"><span class="fa fa-eye"
                                                style="color: var(--yellow-main-color);"></span></a>

                                    </div>
                                    <!-- product badge -->
                                    <span class="aa-badge aa-sale" href="#"><i class="far fa-heart" style="color: var(--background-main-color);"></i></span>
                                </li>
                                <!-- start single product item -->
                                <li class="product_border lipro" style="background-color: #fff;">
                                    <figure class="product-box-h">
                                        <a class="aa-product-img" href="#"><img src="images/main-image/chuoi.jpg"
                                                alt="polo shirt img"></a>

                                        <div class="pro-action2">
                                            <form action="" method="post" style="width: 80%; margin: 0 auto;">
                                                <input type="hidden" name="" value="">
                                                <button class="btn btn-cart">Thêm vào giỏ hàng</button>
                                            </form>
                                        </div>
                                        <div class="product-info a-left" style="margin: 85px 0 5px 0;">
                                            <h3 class="product-name"><a class="height_name text2line" href="#"
                                                    title="Chuối Nam Mỹ">Chuối Nam Mỹ</a></h3>

                                            <div class="product-hides">
                                                <div class="product-hide">


                                                    <div class="price-box clearfix">
                                                        <div class="special-price">
                                                            <span class="price product-price">120.000₫/kg</span>
                                                        </div>

                                                        <div class="old-price">
                                                            <span class="price product-price-old">
                                                                150.000₫/kg
                                                            </span>
                                                        </div>


                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="aa-product-hvr-content">
                                        <a href="#" data-toggle="modal" data-target="#myModal"><span class="fa fa-eye"
                                                style="color: var(--yellow-main-color);"></span></a>

                                    </div>
                                    <!-- product badge -->
                                    <span class="aa-badge aa-sale" href="#"><i class="far fa-heart" style="color: var(--background-main-color);"></i></span>
                                </li>
                                  <!-- start single product item -->
                                  <li class="product_border lipro" style="background-color: #fff;">
                                    <figure class="product-box-h">
                                        <a class="aa-product-img" href="#"><img src="images/main-image/chuoi.jpg"
                                                alt="polo shirt img"></a>

                                        <div class="pro-action2">
                                            <form action="" method="post" style="width: 80%; margin: 0 auto;">
                                                <input type="hidden" name="" value="">
                                                <button class="btn btn-cart">Thêm vào giỏ hàng</button>
                                            </form>
                                        </div>
                                        <div class="product-info a-left" style="margin: 85px 0 5px 0;">
                                            <h3 class="product-name"><a class="height_name text2line" href="#"
                                                    title="Chuối Nam Mỹ">Chuối Nam Mỹ</a></h3>

                                            <div class="product-hides">
                                                <div class="product-hide">


                                                    <div class="price-box clearfix">
                                                        <div class="special-price">
                                                            <span class="price product-price">120.000₫/kg</span>
                                                        </div>

                                                        <div class="old-price">
                                                            <span class="price product-price-old">
                                                                150.000₫/kg
                                                            </span>
                                                        </div>


                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="aa-product-hvr-content">
                                        <a href="#" data-toggle="modal" data-target="#myModal"><span class="fa fa-eye"
                                                style="color: var(--yellow-main-color);"></span></a>

                                    </div>
                                    <!-- product badge -->
                                    <span class="aa-badge aa-sale" href="#"><i class="far fa-heart"style="color: var(--background-main-color);" ></i></span>
                                </li>
                                <!-- start single product item -->
                                <li class="product_border lipro" style="background-color: #fff;">
                                    <figure class="product-box-h">
                                        <a class="aa-product-img" href="#"><img src="images/main-image/chuoi.jpg"
                                                alt="polo shirt img"></a>

                                        <div class="pro-action2">
                                            <form action="" method="post" style="width: 80%; margin: 0 auto;">
                                                <input type="hidden" name="" value="">
                                                <button class="btn btn-cart">Thêm vào giỏ hàng</button>
                                            </form>
                                        </div>
                                        <div class="product-info a-left" style="margin: 85px 0 5px 0;">
                                            <h3 class="product-name"><a class="height_name text2line" href="#"
                                                    title="Chuối Nam Mỹ">Chuối Nam Mỹ</a></h3>

                                            <div class="product-hides">
                                                <div class="product-hide">


                                                    <div class="price-box clearfix">
                                                        <div class="special-price">
                                                            <span class="price product-price">120.000₫/kg</span>
                                                        </div>

                                                        <div class="old-price">
                                                            <span class="price product-price-old">
                                                                150.000₫/kg
                                                            </span>
                                                        </div>


                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="aa-product-hvr-content">
                                        <a href="#" data-toggle="modal" data-target="#myModal"><span class="fa fa-eye"
                                                style="color: var(--yellow-main-color);"></span></a>

                                    </div>
                                    <!-- product badge -->
                                    <span class="aa-badge aa-sale" href="#"><i class="far fa-heart" style="color: var(--background-main-color);"></i></span>
                                </li>
                                <!-- start single product item -->
                                <li class="product_border lipro" style="background-color: #fff;">
                                    <figure class="product-box-h">
                                        <a class="aa-product-img" href="#"><img src="images/main-image/chuoi.jpg"
                                                alt="polo shirt img"></a>

                                        <div class="pro-action2">
                                            <form action="" method="post" style="width: 80%; margin: 0 auto;">
                                                <input type="hidden" name="" value="">
                                                <button class="btn btn-cart">Thêm vào giỏ hàng</button>
                                            </form>
                                        </div>
                                        <div class="product-info a-left" style="margin: 85px 0 5px 0;">
                                            <h3 class="product-name"><a class="height_name text2line" href="#"
                                                    title="Chuối Nam Mỹ">Chuối Nam Mỹ</a></h3>

                                            <div class="product-hides">
                                                <div class="product-hide">


                                                    <div class="price-box clearfix">
                                                        <div class="special-price">
                                                            <span class="price product-price">120.000₫/kg</span>
                                                        </div>

                                                        <div class="old-price">
                                                            <span class="price product-price-old">
                                                                150.000₫/kg
                                                            </span>
                                                        </div>


                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="aa-product-hvr-content">
                                        <a href="#" data-toggle="modal" data-target="#myModal"><span class="fa fa-eye"
                                                style="color: var(--yellow-main-color);"></span></a>

                                    </div>
                                    <!-- product badge -->
                                    <span class="aa-badge aa-sale" href="#"><i class="far fa-heart" style="color: var(--background-main-color);"></i></span>
                                </li>
                            </ul>
                            <!-- quick view modal -->
                            <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                            <div class="row">
                                                <!-- Modal view slider -->
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="aa-product-view-slider">
                                                        <div class="simpleLens-gallery-container" id="demo-1">
                                                            <div class="simpleLens-container">
                                                                <div class="simpleLens-big-image-container">
                                                                    <a class="simpleLens-lens-image"
                                                                        data-lens-image="img/view-slider/large/polo-shirt-1.png">
                                                                        <img src="img/view-slider/medium/polo-shirt-1.png"
                                                                            class="simpleLens-big-image">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="simpleLens-thumbnails-container">
                                                                <a href="#" class="simpleLens-thumbnail-wrapper"
                                                                    data-lens-image="img/view-slider/large/polo-shirt-1.png"
                                                                    data-big-image="img/view-slider/medium/polo-shirt-1.png">
                                                                    <img
                                                                        src="img/view-slider/thumbnail/polo-shirt-1.png">
                                                                </a>
                                                                <a href="#" class="simpleLens-thumbnail-wrapper"
                                                                    data-lens-image="img/view-slider/large/polo-shirt-3.png"
                                                                    data-big-image="img/view-slider/medium/polo-shirt-3.png">
                                                                    <img
                                                                        src="img/view-slider/thumbnail/polo-shirt-3.png">
                                                                </a>

                                                                <a href="#" class="simpleLens-thumbnail-wrapper"
                                                                    data-lens-image="img/view-slider/large/polo-shirt-4.png"
                                                                    data-big-image="img/view-slider/medium/polo-shirt-4.png">
                                                                    <img
                                                                        src="img/view-slider/thumbnail/polo-shirt-4.png">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Modal view content -->
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="aa-product-view-content">
                                                        <h3>T-Shirt</h3>
                                                        <div class="aa-price-block">
                                                            <span class="aa-product-view-price">$34.99</span>
                                                            <p class="aa-product-avilability">Avilability: <span>In
                                                                    stock</span></p>
                                                        </div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            Officiis animi, veritatis quae repudiandae quod nulla porro
                                                            quidem, itaque quis quaerat!</p>
                                                        <h4>Size</h4>
                                                        <div class="aa-prod-view-size">
                                                            <a href="#">S</a>
                                                            <a href="#">M</a>
                                                            <a href="#">L</a>
                                                            <a href="#">XL</a>
                                                        </div>
                                                        <div class="aa-prod-quantity">
                                                            <form action="">
                                                                <select name="" id="">
                                                                    <option value="0" selected="1">1</option>
                                                                    <option value="1">2</option>
                                                                    <option value="2">3</option>
                                                                    <option value="3">4</option>
                                                                    <option value="4">5</option>
                                                                    <option value="5">6</option>
                                                                </select>
                                                            </form>
                                                            <p class="aa-prod-category">
                                                                Category: <a href="#">Polo T-Shirt</a>
                                                            </p>
                                                        </div>
                                                        <div class="aa-prod-view-bottom">
                                                            <a href="#" class="aa-add-to-cart-btn"><span
                                                                    class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                            <a href="#" class="aa-add-to-cart-btn">View Details</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                            <!-- / quick view modal -->
                        </div>
                        <div class="aa-product-catg-pagination">
                            <nav>
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
                    <aside class="aa-sidebar">
                        <!-- single sidebar -->
                        <div class="aa-sidebar-widget">
                            <h3>Danh sách sản phẩm</h3>
                            <ul class="aa-catg-nav">
                                <li><a href="#">Rau củ</a></li>
                                <li><a href="">Hải sản</a></li>
                                <li><a href="">Hoa quả trong nước</a></li>
                                <li><a href="">Hoa quả nhập khẩu</a></li>
                                <li><a href="">Hoa qảu sấy</a></li>
                                <li><a href="">Thịt các loại</a></li>
                            </ul>
                        </div>
                        <!-- single sidebar -->
                        <div class="aa-sidebar-widget">
                            <h3>Tìm theo giá</h3>
                            <!-- price range -->
                            <div class="aa-sidebar-price-range">
                                <form action="">
                                    <div id="skipstep" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                    </div>
                                    <div class="multi-range-slider">
                                        <input type="range" id="input-left" min="0" max="1000000" value="200000">
                                        <input type="range" id="input-right" min="0" max="1000000" value="700000">

                                        <div class="slider">
                                            <div class="track"></div>
                                            <div class="range"></div>
                                            <div class="thumb left"></div>
                                            <div class="thumb right"></div>
                                            <br>

                                        </div>
                                    </div>
                                    <br>
                                    <div style="line-height: 40px; display: flex; justify-content: space-between;">
                                        <p>tối thiểu:</p>
                                        <input type="number" name="" class="value1" value=""></input>
                                    </div>
                                    <div style="line-height: 40px;display: flex; justify-content: space-between;">
                                        <p style="text-align: left;">tối đa:</p>
                                        <input type="number" name="" class="value2" value=""></input>
                                    </div>
                                    <button class="aa-filter-btn" type="submit">Filter</button>
                                </form>
                            </div>

                        </div>
                        <!-- single sidebar -->
                        <div class="aa-sidebar-widget">
                            <h3>Tìm theo kích cỡ</h3>
                            <div class="size" style="display: flex;">
                                <p class="checkbox"></p>
                                <p class="font">Cỡ lớn</p>
                            </div>
                            <div class="size" style="display: flex;">
                                <p class="checkbox"></p>
                                <p class="font">Cỡ vừa</p>
                            </div>
                            <div class="size" style="display: flex;">
                                <p class="checkbox"></p>
                                <p class="font">Cỡ nhỏ</p>
                            </div>
                        </div>
                        <!-- single sidebar -->
                        <div class="aa-sidebar-widget">
                            <h3>Sản phẩm bán chạy</h3>
                            <div class="aa-recently-views">
                                <ul>
                                    <li class="pro-sale">
                                        <a href="#" class="aa-cartbox-img"><img alt="img"
                                                src="images/main-image/col-4.png"></a>
                                        <div class="aa-cartbox-info">
                                            <h4><a href="#">Chuối Nam Mỹ</a></h4>
                                            <span class="price_sale">
                                                150.000₫/kg
                                            </span>
                                            <span class="price_by"><del> 1500.000đ</del></span>
                                        </div>
                                    </li>
                                    <li class="pro-sale">
                                        <a href="#" class="aa-cartbox-img"><img alt="img"
                                                src="images/main-image/col-4.png"></a>
                                        <div class="aa-cartbox-info">
                                            <h4><a href="#">Chuối Nam Mỹ</a></h4>
                                            <span class="price_sale">
                                                150.000₫/kg
                                            </span>
                                            <span class="price_by"><del> 1500.000đ</del></span>
                                        </div>
                                    </li>
                                    <li class="pro-sale">
                                        <a href="#" class="aa-cartbox-img"><img alt="img"
                                                src="images/main-image/col-4.png"></a>
                                        <div class="aa-cartbox-info">
                                            <h4><a href="#">Chuối Nam Mỹ</a></h4>
                                            <span class="price_sale">
                                                150.000₫/kg
                                            </span>
                                            <span class="price_by"><del> 1500.000đ</del></span>
                                        </div>
                                    </li>
                                    <li class="pro-sale">
                                        <a href="#" class="aa-cartbox-img"><img alt="img"
                                                src="images/main-image/col-4.png"></a>
                                        <div class="aa-cartbox-info">
                                            <h4><a href="#">Chuối Nam Mỹ</a></h4>
                                            <span class="price_sale">
                                                150.000₫/kg
                                            </span>
                                            <span class="price_by"><del> 1500.000đ</del></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </aside>
                </div>

            </div>
        </div>
    </section>
      <!-- bắt đầu footer -->
      <footer>
        <div class="container ">
            <div class="title_header d-flex">
                <h2>Mẹo hay sử dụng</h2>
                <span>
                    <a href="" class="">Xem thêm <i class="fas fa-caret-right"></i></a>
                </span>
            </div>

            <div class="list-item d-flex">
                <div class="item d-flex">
                    <img class="item_img" src="images/main-image/bi-quyet-chon-mua-trai-cay-khong-co-hoa-chat-bao-quan-5.jpg" alt="">
                    <div class="item-title flex-column">
                        <h3 class="item-title-desc">
                            <a href="">Những loại trái cây Nhật đắt như vàng ròng đổ bộ về Việt Nam</a>
                        </h3>
                        <p>Nhật Bản là đất nước có nhiều loại hoa quả có chất lượng thuộc hàng ngon nhất thế giới</p>

                    </div>
                </div>
                <div class="item d-flex">
                    <img class="item_img" src="images/main-image/fruits-buyers-russia.jpg" alt="">
                    <div class="item-title flex-column">
                        <h3 class="item-title-desc">
                            <a href="">Bí quyết bảo quản nho đen trong tủ lạnh tươi lâu hơn</a>
                        </h3>
                        <p>Bí quyết lựa chọn và bảo quản nho tươi – Nho rất ngon và tốt cho sức khỏe, t</p>

                    </div>
                </div>
                <div class="item d-flex">
                    <img class="item_img" src="images/main-image/fruits-buyers-russia.jpg" alt="">
                    <div class="item-title flex-column">
                        <h3 class="item-title-desc">
                            <a href="">Những loại trái cây Nhật đắt như vàng ròng đổ bộ về Việt Nam</a>
                        </h3>
                        <p>Nhật Bản là đất nước có nhiều loại hoa quả có chất lượng thuộc hàng ngon nhất thế giới</p>
                    </div>
                </div>
            </div>

            

        </div>
    </footer>
    <!-- kết thúc footer -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- / product category -->
    <script type="text/javascript" src="js/nouislider.js"></script>
</body>

</html>