<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trang chủ</title>
    <link rel="stylesheet" href="css/setting.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="font/awesome/css/all.css">
    
</head>
<body>
    <div class="container">
        <div class="index-top">
            <div class="top">
                <i class="fas fa-check"></i>
                <p>Giá cả nhiều ưu đãi hấp dẫn khi mua hàng</p>
            </div>
            <div class="top">
                <i class="fas fa-plane"></i>
                <p>Giao hàng miễn phí toàn quốc và nhanh chóng</p>
            </div>
            <div class="top">
                <i class="fas fa-star"></i>
                <p>Sản phẩm đa dạng đạt tiêu chuẩn có kiểm định</p>
            </div>
        </div>
    </div>
</body>
</html>