<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trang chủ</title>
    <link rel="stylesheet" href="css/setting.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="font/awesome/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>

<body>
    <div class="index-container">
        <!-- start top -->
        <div class="container">
            <div class="index-top">
                <div class="top">
                    <i class="fas fa-check"></i>
                    <p>Giá cả nhiều ưu đãi hấp dẫn khi mua hàng</p>
                </div>
                <div class="top top-middle">
                    <i class="fas fa-plane"></i>
                    <p>Giao hàng miễn phí toàn quốc và nhanh chóng</p>
                </div>
                <div class="top">
                    <i class="fas fa-star"></i>
                    <p>Sản phẩm đa dạng đạt tiêu chuẩn có kiểm định</p>
                </div>
            </div>
        </div>
        <!-- end top -->
        <!-- start header -->
        <header class="container-fluid">
            <div class="container">
                <div class="index-header">
                    <div class="logo">
                        <a href="#">
                            <img src="images/logo.png" alt="">
                        </a>
                    </div>
                    <div class="flex">
                        <div class="header-middle">
                            <form action="">
                                <i class="fas fa-search"></i>
                                <input type="text" placeholder="Tìm kiếm ở đây" required>
                                <button>Tìm kiếm</button>
                            </form>
                            <div class="link">
                                <a href="#">Bán chạy nhất</a> |
                                <a href="#">Mua nhiều nhất</a> |
                                <a href="#">Giảm giá</a>
                            </div>
                        </div>
                        <div class="header-final">
                            <div class="detail detail-none">
                                <i class="fas fa-heart"></i>
                                <a href="#">Danh sách yêu thích</a>
                            </div>
                            <div class="detail detail-none">
                                <i class="fas fa-user"></i>
                                <div>
                                    <a href="#">Đăng nhập</a> <br>
                                    <a href="#">Đăng ký</a>
                                </div>
                            </div>
                            <div class="detail btn">
                                <i class="fas fa-shopping-bag"></i>
                                <a href="#">GIỎ HÀNG(0)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->
    </div>

    <!-- bắt đầu footer -->
    <footer>
        <div class="container ">
            <div class="title_header d-flex">
                <h2>Mẹo hay sử dụng</h2>
                <span>
                    <a href="" class="">Xem thêm <i class="fas fa-caret-right"></i></a>
                </span>
            </div>

            <div class="list-item d-flex">
                <div class="item d-flex">
                    <img class="item_img" src="images/bi-quyet-chon-mua-trai-cay-khong-co-hoa-chat-bao-quan-5.jpg" alt="">
                    <div class="item-title flex-column">
                        <h3 class="item-title-desc">
                            <a href="">Những loại trái cây Nhật đắt như vàng ròng đổ bộ về Việt Nam</a>
                        </h3>
                        <p>Nhật Bản là đất nước có nhiều loại hoa quả có chất lượng thuộc hàng ngon nhất thế giới</p>

                    </div>
                </div>
                <div class="item d-flex">
                    <img class="item_img" src="images/fruits-buyers-russia.jpg" alt="">
                    <div class="item-title flex-column">
                        <h3 class="item-title-desc">
                            <a href="">Bí quyết bảo quản nho đen trong tủ lạnh tươi lâu hơn</a>
                        </h3>
                        <p>Bí quyết lựa chọn và bảo quản nho tươi – Nho rất ngon và tốt cho sức khỏe, t</p>

                    </div>
                </div>
                <div class="item d-flex">
                    <img class="item_img" src="images/fruits-buyers-russia.jpg" alt="">
                    <div class="item-title flex-column">
                        <h3 class="item-title-desc">
                            <a href="">Những loại trái cây Nhật đắt như vàng ròng đổ bộ về Việt Nam</a>
                        </h3>
                        <p>Nhật Bản là đất nước có nhiều loại hoa quả có chất lượng thuộc hàng ngon nhất thế giới</p>

                    </div>
                </div>


            </div>

            <div class="list-top d-flex">
                <div class="top-item">


                </div>

            </div>

        </div>
    </footer>
    <!-- kết thúc footer -->


</body>

</html>