<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liện hệ</title>
    <link rel="stylesheet" href="css/setting.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="font/awesome/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
</head>

<body>
    <!-- bắt đầu phần header -->
    <div class="index-container">
        <!-- start top -->
        <div class="container">
            <div class="index-top">
                <div class="top">
                    <i class="fas fa-check"></i>
                    <p>Giá cả nhiều ưu đãi hấp dẫn khi mua hàng</p>
                </div>
                <div class="top top-middle">
                    <i class="fas fa-plane"></i>
                    <p>Giao hàng miễn phí toàn quốc và nhanh chóng</p>
                </div>
                <div class="top">
                    <i class="fas fa-star"></i>
                    <p>Sản phẩm đa dạng đạt tiêu chuẩn có kiểm định</p>
                </div>
            </div>
        </div>
        <!-- end top -->
        <!-- start header -->
        <header class="container-fluid">
            <div class="container">
                <div class="index-header">
                    <div class="logo">
                        <a href="#">
                            <img src="images/logo.png" alt="">
                        </a>
                    </div>
                    <div class="flex">
                        <div class="header-middle">
                            <form action="">
                                <i class="fas fa-search"></i>
                                <input type="text" placeholder="Tìm kiếm ở đây" required>
                                <button>Tìm kiếm</button>
                            </form>
                            <div class="link">
                                <a href="#">Bán chạy nhất</a> |
                                <a href="#">Mua nhiều nhất</a> |
                                <a href="#">Giảm giá</a>
                            </div>
                        </div>
                        <div class="header-final">
                            <div class="detail detail-none">
                                <i class="fas fa-heart"></i>
                                <a href="#">Danh sách yêu thích</a>
                            </div>
                            <div class="detail detail-none">
                                <i class="fas fa-user"></i>
                                <div>
                                    <a href="#">Đăng nhập</a> <br>
                                    <a href="#">Đăng ký</a>
                                </div>
                            </div>
                            <div class="detail btn">
                                <i class="fas fa-shopping-bag"></i>
                                <a href="#">GIỎ HÀNG(0)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->
    </div>
    <!-- kết thú phần header -->

    <!-- bắt đầu phần content -->
    <div class="content content_contact">
        <div class="container col-12">
            <div class="row">
                <div class="bg_content_contact">
                    <div class="select_maps sec_footer col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="map_h">
                            <div class="page_contact">
                                <h1 class="title_db">
                                    <span>Liên hệ với chúng tôi</span>
                                </h1>
                            </div>
                            <div class="list_menu">
                                <div class="widget_db">
                                    <div class="item">
                                        <ul class="contact contact_x">
                                            <b class="title_bold">Cửa hàng chính:</b>
                                            <li>
                                                <i class="fa fa-map-marker"></i>
                                                <span class="txt_content_child">
                                                    Số 23/71 Đường Mỹ Đình, Quận Nam Tù Niêm ,Thành Phố Hà Nội
                                                </span>
                                            </li>
                                            <li class="sdt">
                                                <i class="fa fa-mobile"></i>
                                                <span class="txt_content_child">
                                                  Điện Thoại
                                                </span>
                                                <a href="">0344358618</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-envelope"></i>
                                                <span class="txt_content_child">
                                                    Email:
                                                </span>
                                                <a href="">maigam08092000@gmail.com</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="page-login page_contact">
                                <div class="title-head-contact a-left">
                                    <span>Gửi Liên hệ</span>
                                </div>
                                <div id="pagelogin">
                                    <form action="">

                                        <div class="form-signup clearfix">
                                            <div class="row group_contact">
                                                <fieldset class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <input type="text" placeholder="Họ và tên" name="" class="form-control  form-control-lg" required="">
                                                </fieldset>
                                                <fieldset class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <input type="text" placeholder="Email" name="" class="form-control  form-control-lg" required="">
                                                </fieldset>
                                                <fieldset class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <textarea placeholder="Lời nhắn" name="" id="loinhan" class="form-control content-area form-control-lg" rows="2" required="">
                                                    </textarea>
                                                </fieldset>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-button">
                                                    <button type="submit" class="btn btn-primary btn-lienhe">Gửi liên hệ</button>
                                                </div>
                                            </div>

                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="select_maps sec_footer col-lg-6 col-md-6 col-sm-12 col-xs-12 right_contact">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.1373202472373!2d105.77297221424524!3d21.027190793209357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b1eec75f8d%3A0xaabda7549065fb73!2zVHLGsOG7nW5nIG3huqdtIG5vbiBN4bu5IMSQw6xuaCAy!5e0!3m2!1svi!2s!4v1605431715983!5m2!1svi!2s "
                            width="100%" height="450 " frameborder="0 " style="border:0; " allowfullscreen=" " aria-hidden="false " tabindex="0 "></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- kết thúc phần content -->







    <!-- bắt đầu footer -->
    <footer>
        <div class="container ">
            <div class="title_header d-flex">
                <h2>Mẹo hay sử dụng</h2>
                <span>
                    <a href="" class="">Xem thêm <i class="fas fa-caret-right"></i></a>
                </span>
            </div>

            <div class="list-item row">
                <div class="item d-flex col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="item_img" src="images/bi-quyet-chon-mua-trai-cay-khong-co-hoa-chat-bao-quan-5.jpg" alt="">
                    <div class="item-title flex-column">
                        <h3 class="item-title-desc">
                            <a href="">Những loại trái cây Nhật đắt như vàng ròng đổ bộ về Việt Nam</a>
                        </h3>
                        <p>Nhật Bản là đất nước có nhiều loại hoa quả có chất lượng thuộc hàng ngon nhất thế giới</p>

                    </div>
                </div>
                <div class="item d-flex col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="item_img" src="images/fruits-buyers-russia.jpg" alt="">
                    <div class="item-title flex-column">
                        <h3 class="item-title-desc">
                            <a href="">Bí quyết bảo quản nho đen trong tủ lạnh tươi lâu hơn</a>
                        </h3>
                        <p>Bí quyết lựa chọn và bảo quản nho tươi – Nho rất ngon và tốt cho sức khỏe, t</p>

                    </div>
                </div>
                <div class="item d-flex col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img class="item_img" src="images/fruits-buyers-russia.jpg" alt="">
                    <div class="item-title flex-column">
                        <h3 class="item-title-desc">
                            <a href="">Những loại trái cây Nhật đắt như vàng ròng đổ bộ về Việt Nam</a>
                        </h3>
                        <p>Nhật Bản là đất nước có nhiều loại hoa quả có chất lượng thuộc hàng ngon nhất thế giới</p>
                    </div>
                </div>
            </div>

            <div class="list-top ">
                <div class="top-item row">
                    <div class="item flex-column item-none-1 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <a href="">
                            <img src="images/logo_footer.png" alt="">
                        </a>
                        <p>
                            Siêu thị MiniMart cung cấp các mặt hàng siêu sạch đem lại sức khỏe cho bạn.
                        </p>
                        <div class="d-flex">
                            <img class="img_bg" src="images/i_footer_1.png" alt="">
                            <p>Tầng 6 Ladeco, 266 Đội Cấn, Hà Nội</p>
                        </div>
                        <div class="d-flex">
                            <img class="img_bg" src="images/i_footer_2.png" alt="">
                            <p>18006750</p>
                        </div>
                        <div class="d-flex">
                            <img class="img_bg" src="images/i_footer_3.png" alt="">
                            <p>support@sapo.vn</p>
                        </div>
                    </div>
                    <ul class="item  item-list flex-column col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <h4><a href="">Tài khoản</a></h4>
                        <li> <a href="">Trang chủ</a></li>
                        <li> <a href="">Giới thiệu</a></li>
                        <li> <a href="">Sản phẩm</a></li>
                        <li> <a href="">Tin tức</a></li>
                        <li> <a href="">Liên hệ</a></li>
                    </ul>
                    <ul class="item  item-list flex-column col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <h4><a href="">Hỗ trợ khách hàng</a></h4>
                        <li> <a href="">Trang chủ</a></li>
                        <li> <a href="">Giới thiệu</a></li>
                        <li> <a href="">Sản phẩm</a></li>
                        <li> <a href="">Tin tức</a></li>
                        <li> <a href="">Liên hệ</a></li>
                    </ul>
                    <ul class="item item-list flex-column  col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <h4><a href="">Gửi email</a></h4>
                        <li> <span class="text">Gửi email nhận khuyến mãi</span>
                        </li>
                        <li class="form">
                            <input type="text" name="" id="" placeholder="Email của bạn">
                            <button type="submit">
                                <i class="fa fa-paper-plane"></i>
                            </button>
                        </li>

                        <li>
                            <h4 class="item-title">
                                <a href="">Kết nối</a>
                            </h4>
                            <ul class="follow_option d-flex">

                                <li>
                                    <a class="goplus" href="#" title="Theo dõi Google Plus Minimart"><i class="fab fa-google-plus-g"></i></a>
                                </li>
                                <li>
                                    <a class="twitter" href="#" title="Theo dõi Twitter Minimart"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="fb" href="#" title="Theo dõi Facebook Minimart"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a class="in" href="#" title="Theo dõi Linkedin Minimart"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>

            </div>
            <div class="footer_bottom">
                <span class="wsp">© Bản quyền thuộc về 
                    <span class="color_main">Cafein Team</span>
                <span class="hidden-xs">
                            | </span>
                <span class="mobile">
                                Cung cấp bởi 
                        <a href="">Sapo</a>
                        </span>
                </span>

                <div class="top">
                    <a href="#" id="back-to-top" class="backtop show" title="Lên đầu trang">
                            Lên đầu trang <i class="fa fa-arrow-up"></i></a>
                </div>


            </div>

        </div>
    </footer>
    <!-- bắt đầu script cho back to top -->
    <script>
        $(document).ready(function($) {
            $(window).scroll(function() {
                var e = $(window).scrollTop();
                if (e > 300) {
                    $(".btn-top ").show()
                } else {
                    $(".btn-top ").hide()
                }
            });
            $(".btn-top ").click(function() {
                $('body,html').animate({
                    scrollTop: 0
                })
            })
        });
    </script>
    <!-- kết thúc script cho back to top -->
    <!-- kết thúc footer -->


</body>

</html>