<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="../asset/css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <header>
        <div class="content_1">
            <div class="content_1a">
                <div class="logo">
                    <a href="#">
                        <img id="logo" src="../asset/img/icon/Logo_Website_Tiki.vn.png" alt="">
                    </a>
                    <a href="#" aria-label="" data-view-id="header_campaign_logo">
                        <img style="margin-left:3px; width:100px;" height="33"
                            src="https://salt.tikicdn.com/ts/banner/33/ba/89/54c02d2475983f93a024c0cd13f238e4.png"
                            alt="">
                    </a>
                </div>
                <div class="FormSearch__Root">
                    <div class="FormSearch__Form-sc">
                        <input type="text" value="" placeholder="Tìm sản phẩm, danh mục hay thương hiệu mong muốn ..."
                            class="FormSearch__Input">
                        <button data-view-id="main_search_form_button" class="FormSearch__Button-sc">
                            <i class="fas fa-search"></i>
                            </i>Tìm kiếm</button>
                        <!-- <div class="SearchAutocomplete__Root-sc-35nyl5-0 frgVSd">                 -->
                    </div>
                </div>
                <a href="#">
                    <div class="Userstyle__Item-sc">
                        <img src="../asset/img/icon/location.png" alt="">
                        <span class="Userstyle__ItemCount-sc"></span>
                        <spanclass="Userstyle__ItemText-sc">Theo dõi<br>đơn hàng</span>
                    </div>
                </a>

                <a href="#">
                    <div class="Userstyle__Item-sc">
                        <img src="../asset/img/icon/icon-notification.png" alt="">
                        <span class="Userstyle__ItemCount-sc-6e6am-3 lnmTTi"></span>
                        <span class="Userstyle__ItemCount-sc"></span><span class="Userstyle__ItemText-sc">Thông
                            báo<br>của tôi
                        </span>

                    </div>
                </a>
                <a href="#">
                    <div class="Userstyle__Item-sc">
                        <img src="../asset/img/icon/user.png" alt="">
                        <span class="Userstyle__ItemCount-sc"></span><span class="Userstyle__ItemText-sc">Đăng
                            nhập<br>Tài khoản
                        </span>

                    </div>
                </a>
                <div class="Userstyle__CartItem-sc-13"><a href="#">
                        <div class="Userstyle__Item-sc-13"><i class="tikicon icon-cart"></i><span
                                class="Userstyle__ItemText-sc">Giỏ hàng<span
                                    class="Userstyle__ItemCartQty-sc">0</span></span></div>
                    </a>
                </div>
            </div>
        </div>
        </div>
        <div class="content_1">
            <div style="position:relative;display:flex;align-items:center;justify-content:space-between;"
                class="Container-itwfbd-0">
                <a href="#">
                    <div class="Menu-button">
                        <img src="../asset/img/icon/list.png" alt="">
                        <span class="Userstyle__ItemText-sc2">
                            DANH MỤC SẢN PHẨM
                        </span>

                    </div>
                </a>
                <a href="#">
                    <div class="Menu-button">
                        <img src="../asset/img/icon/tracking.png" alt="">
                        <span class="Userstyle__ItemText-sc2">
                            Bạn muốn giao hàng<br> tới đâu?
                        </span>

                    </div>
                </a>
                <a href="#">
                    <div class="Menu-button">
                        <img src="../asset/img/icon/arrow-down-sign-to-navigate.png" alt="">
                        <span>Sản phẩm <br>bạn đã xem</span>

                    </div>
                </a>
                <a href="#">
                    <div class="Menu-button">
                        <img class="tikicon" src="https://frontend.tikicdn.com/_desktop-next/static/img/tiki-card.svg" width="64">
                        <span>Hoàn tiền<br>15%</span>

                    </div>
                </a>

                <a href="#">
                    <div class="Menu-button">
                        <img class="tikicon" src="../asset/img/icon/stopwatch.png">
                        <span>Giao nhanh<br>2h &amp; hôm sau</span>

                    </div>
                </a>
                <a href="#">
                    <div class="Menu-button">
                        <img class="tikicon" src="https://salt.tikicdn.com/ts/upload/c1/cc/d0/6dc657167181c1b6b93c8da654dddac3.png" width="64">
                        <span>Thực phẩm<br>tươi sống</span>

                    </div>
                </a>
                <a href="#">
                    <div class="Menu-button">
                        <img class="tikicon" src="../asset/img/icon/badge.png">
                        <span>Sản phẩm<br>chính hiệu</span>

                    </div>
                </a>
                <a href="#">
                    <div class="Menu-button">
                        <img class="tikicon" src="../asset/img/icon/return.png">
                        <span>30 ngày<br>đổi trả</span>

                    </div>
                </a>
            </div>
        </div>
    </header>
    <div class="banner">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias autem esse soluta nam dolore quis, ab in quasi,
        deleniti quibusdam, iure tenetur possimus error eum quam. Ipsa et ad libero? Neque corporis ad quam? Corrupti
        sequi ullam, neque quam quae iure vero nulla assumenda laborum quisquam perspiciatis odit dolores harum
        accusantium iusto, nisi qui itaque ducimus? Obcaecati soluta excepturi, cupiditate ab sint illo! Commodi iste
        doloribus tempora tempore perspiciatis. Blanditiis doloremque totam perspiciatis corporis omnis nam illum
        nostrum eligendi non, iusto repudiandae dicta, vel ex quis minus quisquam dignissimos ad reiciendis tempora quae
        eos sit! Optio non distinctio molestias nesciunt nobis dignissimos architecto ab excepturi, nostrum facere nisi
        repellendus odit qui quasi tempora corrupti itaque temporibus amet voluptatibus nihil perferendis vitae? Aut
        enim consequuntur sequi in! Adipisci, quidem labore. Sapiente, natus veniam? Dolorem, quam aperiam. Quis rem
        maxime quisquam ratione ea ipsam incidunt soluta, doloribus, illum explicabo voluptate! Animi nostrum ab
        distinctio impedit? Ratione, exercitationem? Soluta, dolorum. Ut eligendi laborum officia! Quis, mollitia! Illum
        maxime sunt fugit omnis similique officiis? Repellat blanditiis, nesciunt provident mollitia cum est adipisci
        assumenda incidunt iure molestias praesentium sit dicta esse quo exercitationem, aliquid sunt nemo? Dolorum unde
        sed, ratione officiis quidem quam id. Voluptates.
    </div>
</body>

</html>