* {
    margin: 0;
    padding: 0;
}


/* start header */


/* start top */

.index-top {
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
}

.index-top .top {
    display: flex;
    align-items: center;
    border-left: 1px solid gainsboro;
    padding-left: 10px;
}

.index-top .top:first-child {
    border: none;
    padding-left: 0;
}

.index-top i {
    font-size: 24px;
    color: #96bd1a;
    padding: 0 10px 10px 0;
}


/* end top */


/* start header */

.container-fluid {
    background-color: var(--yellow-main-color);
}

.index-header {
    display: flex;
    min-height: 123px;
    align-items: center;
    justify-content: space-between;
}

.index-header .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    /* margin-top: 15px; */
}

.header-middle {
    margin-top: 15px;
    width: 50%;
}

.index-header form {
    height: 42px;
    width: 100%;
    position: relative;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #ebebeb;
    background-color: white;
}

.index-header form i {
    position: absolute;
    font-size: 15px;
    color: #959595;
    top: 12px;
}

.index-header form input {
    position: absolute;
    border: 0;
    outline: none;
    font-size: 15px;
    height: 39px;
    top: 0;
    left: 30px;
    margin-left: 10px;
}

.index-header form button {
    position: absolute;
    background-color: #ebebeb;
    background-image: url("//bizweb.dktcdn.net/100/322/163/themes/795546/assets/bg_base.png?1603791388297");
    color: #252525;
    font-weight: bold;
    line-height: 39px;
    right: 0;
    border: none;
    outline: none;
    top: 0;
    padding: 0 15px;
}

.index-header .link {
    color: white;
    margin-top: 8px;
}

.index-header .link a {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.index-header .link a:first-child {
    padding-left: 0;
}

.index-header .header-final {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
}

.header-final .detail {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.header-final .detail:first-child {
    width: 30%;
}

.index-header .detail i {
    font-size: 24px;
    color: white;
    margin: 0 5px;
}

.index-header .detail a {
    color: white;
}

.index-header .btn i {
    color: var(--yellow-main-color);
    font-size: 15px;
}

.index-header .btn {
    line-height: 44px;
    height: 44px;
    border-radius: 3px;
    padding: 0 12px;
    background-color: white;
}

.index-header .btn a {
    color: var(--yellow-main-color);
    font-weight: bold;
    font-size: 15px;
}


/* end header */

@media(max-width: 1200px) {
    .index-header .logo img {
        width: 80%;
    }
    .index-header .link a {
        color: white;
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media(max-width: 992px) {
    .index-top {
        display: none;
    }
    .index-header {
        display: block;
        padding: 25px 0;
    }
    .index-header .logo {
        text-align: center;
    }
    .index-header .logo img {
        width: 251px;
    }
    .index-header .flex {
        width: 98%;
        margin: 0 auto;
    }
    .header-middle {
        width: 60%;
    }
    .index-header .flex form {
        width: 110%;
    }
    .index-header .flex .link {
        display: none;
    }
    .index-header .flex .detail-none {
        display: none;
    }
    .index-header .flex .btn {
        margin-top: 28px;
    }
}

@media(max-width: 768px) {}


/* end index */

footer {
    background-image: url(../images/bg_footer.jpg);
}

footer .container {
    padding-top: 15px;
    padding-bottom: 15px;
}

footer .container .title_header {
    justify-content: space-between;
    margin: 15px 0px;
    line-height: 24px;
}

footer .container .title_header h2 {
    font-size: var(--font-size-2);
    font-weight: bold;
    font-family: Sansita;
}

footer .container .title_header span {
    padding-top: 25px;
}

footer .container .title_header span a {
    color: var(--black-main-color);
}

footer .container .title_header span a i {
    margin-left: 3px;
}

footer .container .list-item {
    background-color: #fff;
    flex-wrap: wrap;
}

footer .container .list-item .item {
    padding: 30px 15px 25px 15px;
    width: 33.333%;
}

footer .container .list-item .item_img {
    display: block;
    max-width: 100%;
    height: 57px;
}

footer .container .list-item .item-title {
    margin-left: 20px;
}

footer .container .list-item .item-title .item-title-desc {
    margin: 0px;
    font-size: var(--font-size-1);
    font-weight: inherit;
}

footer .container .list-item .item-title .item-title-desc a {
    font-size: 1.6rem;
    color: var(--black-main-color);
    line-height: 21px;
}

@media (max-width: 612px) {
    footer .container .list-item .item {
        flex-grow: 0.7;
    }
}


/*# sourceMappingURL=style.css.map */

@media(max-width: 576px) {
    .header-middle {
        width: 50%;
    }
    .index-header .flex form input {
        width: 60%;
        margin: 0 15px;
    }
    .index-header .flex form button {
        display: none;
    }
}

/* end header */
/* start login */
    .login{
        display: flex;
        align-items: center;
        height: 53px;
    }
    .login .cate{
        align-items: center;
        position: relative;
        background-color: #96bd1a;
        color: white;
        line-height: 53px;
        width: 200px;
        font-weight: bold;
        font-size: 16px;
        width: 20%;
    }
    .cate .fa-user{
        display: none;
    }
    .login .cate>a{
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: white;
    }
    
    nav.list{
        display: none;
        position: absolute;
        top: 53px;
        z-index: 3;
        width: 100%;
        background-color: white;
    }

    nav.list ul li{
        border-bottom: 1px solid #ebebeb;
        padding-left: 15px;
    }
    nav.list a{
        font-size: 13px;
        text-decoration: none;
    }
    nav.list img{
        margin-right: 10px;
    }
    nav.list ul li:hover{
        background-color: #d7ebf1;
    }
    .login .cate:hover>.list{
        display: block;
    }
    .bread{
        display: flex;
        align-items: center;
        margin-left: 60px;
    }
    .login li{
        list-style: none;
    }
    .login i{
        padding: 0 8px;
    }
    .cl-control{
        color: var(--yellow-main-color);
    }

    /* start login-detail */
        .login-detail{
            background-color: var(--background-main-color);
            padding: 20px 0;
        }
        .login-detail .main{
            display: flex;
            justify-content: space-between;
        }
        .to-login{
            width: 40%;
        }
        .to-login form input{
            width: 100%;
        }
    /* end login detail */
    @media(max-width:992px){
        .login{
            display: block;
        }
        .login .cate{
            width: 100%;
            margin-bottom: 20px;
            position: relative;
        }
        .login .cate:hover>.list{
            display: none;
        }
        .login .fa-user{
            display: inline-block;
            position: absolute;
            right: 15px;
            color: white;
            top: 20px;
        }
        .login-detail .main{
            display: block;
        }
        .login-detail{
            margin-top: 60px;
        }
        .to-login{
            width: 100%;
        }
    }

/* end login */
/* start register */
    .register-detail{
        background-color: var(--background-main-color);
        padding: 20px 0;
    }
    .register-detail form{
        width: 60%;
        margin: 15px auto;
    }


    @media(max-width: 992px){
        .register-detail{
            margin-top: 60px;
        }
    }
/* end register */
/* start update acount */
    .update-detail{
        background-color: var(--background-main-color);
        padding: 20px 0;
    }
    .update-detail form{
        width: 60%;
        margin: 15px auto;
    }


    @media(max-width: 992px){
        .update-detail{
            margin-top: 60px;
        }
    }

/* end update acount */
/* start address to ship */
    .address-detail{
        background-color: var(--background-main-color);
        padding: 20px 0;
    }
    .address-detail form{
        width: 60%;
        margin: 15px auto;
    }
    .address-detail form table{
        width: 100%;
    }
    .address-detail form table td{
        padding: 10px;
    }
    .address-detail form table td input{
        width: 100%;
    }
    .address-detail .control-center{
        text-align: center;
    }

    @media(max-width: 992px){
        .address-detail{
            margin-top: 60px;
        }
        .address-detail form{
            width: 100%;
        }
    }
/* end address */
/* start cart */
    .cart-detail{
        background-color: var(--background-main-color);
        padding: 20px 0;
    }
    .cart-detail .container{
        background-color: white;
        padding: 10px 20px;
    }
    .cart-detail table{
        width: 100%;
    }
    .cart-detail table td img{
        width: 100px;
    }
    .cart-detail table th{
        border-bottom: 1px solid gray;
        padding: 10px;
    }
    .cart-detail table tr{
        border-bottom: 1px solid gray;
    }
    .cart-detail table td{
        padding: 10px;
    }
    .cart-detail table td.final{
        text-align: right;
    }
    .cart-btn{
        margin: 15px 30px 0 0;
        text-align: right;
    }
    .cart-detail table td input{
        width: 150px;
    }

    @media(max-width: 992px){
        .cart-detail{
            margin-top: 60px;
        }
    }
/* end cart */